body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #a9db80 0%, #96c56f 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 100px;
}

nav ul li {
  padding: 0 10px;
}

.vmin100 {
  min-height: 100vh;
}
.w100 {
  width: 100%;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.usps {
  border-radius: 10px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.3);
}

.usp {
  text-align: center;
  padding: 20px;
}
.usp .img {
  width: 200px;
  height: 200px;
  background-size: cover;
}
