body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 100px;
}

nav ul li {
  padding: 0 10px;
}

.vmin100 {
  min-height: 100vh;
}
.w100 {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.br10 {
  border-radius: 10px;
}
.tc {
  text-align: center;
}
.shadow1 {
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.3);
}

.mb1 {
  margin-bottom: 2px;
}

.mb2 {
  margin-bottom: 8px;
}

.pa2 {
  padding: 8px;
}
.bg-white {
  background: white;
}
.usp {
  text-align: center;
  padding: 20px;
}
.usp .img {
  width: 150px;
  height: 100px;
  background-repeat: no-repeat;
}
